/* Reset */

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

/* Variables */

:root {
  --main-color: #0a2d32;
  --main-text-color: rgb(34, 31, 31);
  --border-color: #999;
  --bio-bg-color: #8a4dfc;
  --bio-border-color: #293544;
  --about-bg-color: #748c8c;
  --cabecalho-text-color: #fff;
}

nav {
  height: 33px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 9px 0;
}

main {
  margin-top: 110px;
}

.cabecalho {
  color: var(--cabecalho-text-color);
  float: none;
  padding-top: 0px;
}

.boxColor {
  background-color: var(--main-color);
  padding-bottom: 9px;
}

.margin {
  padding-top: 1em;
  padding-left: 50px;
  padding-right: 50px;
}

.tabOff {
  color: inherit;
  text-decoration: inherit;
}

.tabTextColor {
  color: #04da83;
}

.button {
  margin-top: 1em;
}

.copyright {
  background-color: var(--about-bg-color);
  float: right;
}

.separator {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

.newBox {
  margin-top: 3em;
}

.idNumber {
  float: right;
  padding-right: 50px;
}

.boxSpace {
  display: flex;
}

#charNum {
  float: right;
}

#tituloLogo {
  margin-top: 2em;
}

#logoPosition {
  float: right;
  padding-top: 1em;
  padding-left: 50px;
  padding-right: 50px;
}

#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
  background-color: var(--main-color);
}

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

#fix-color {
  background-color: var(--about-bg-color);
}

#briefing {
  padding-top: 5px;
}