/* Reset */

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

/* Variables */

:root {
  --main-color: #0a2d32;
  --main-text-color: rgb(34, 31, 31);
  --border-color: #999;
  --bio-bg-color: #8a4dfc;
  --bio-border-color: #293544;
  --about-bg-color: #748c8c;
  --cabecalho-text-color: #fff;
  --table-color: #b0c9c9;
}

nav {
  height: 33px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 9px 0;
}

main {
  margin-top: 110px;
}

.cabecalho {
  color: var(--cabecalho-text-color);
  float: none;
  padding-top: 0px;
}

.boxColor {
  background-color: var(--main-color);
  padding-bottom: 9px;
}

.margin {
  padding-top: 1em;
  padding-left: 50px;
  padding-right: 50px;
}

.tabOff {
  color: inherit;
  text-decoration: inherit;
}

.tabTextColor {
  color: #04da83;
}

.button {
  margin-top: 1em;
}

.copyright {
  background-color: var(--about-bg-color);
  float: right;
}

.separator {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

.newBox {
  margin-top: 3em;
}

.idNumber {
  float: right;
  padding-right: 50px;
}

.boxSpace {
  display: flex;
}

.boxSeparator {
  margin-left: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-right: 10px;
}

.table-text-family {
  font-family: 'roboto', sans-serif;
  color: rgb(49, 49, 49);
}

.table-round-corner {
  margin-top: 15px;
  overflow:hidden;
  border-radius: 5px;
}

.table-text-center {
  text-align: center;
}

#charPosition {
  float: right;
}

#tituloLogo {
  margin-top: 2em;
}

#logoPosition {
  float: right;
  padding-top: 1em;
  padding-left: 50px;
  padding-right: 50px;
}

#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
  background-color: var(--main-color);
}

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

#fix-color {
  background-color: var(--about-bg-color);
}

#briefing {
  padding-top: 5px;
}

/* MODAL FORM */
#modal-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50, -50);
  transition: background 0.3s;
}

#modal-open, input[type='submit'] {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #4586de;
}

#modal-open:hover {
  background: #3e78c7;
}

#contact-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#modal-content {
  background: #efefef;
  margin: 35px auto;
  width: 60%;
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.25);
}

#modal-header {
  background: #4586de;
  color: #fff;
  padding: 25px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

#modal-header .close-modal {
  font-size: 50px;
  float: right;
}

#modal-header .close-modal:hover {
  color: #333;
  cursor: pointer;
}

#modal-footer {
  background: #4586de;
  color: #fff;
  padding: 25px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

#modal-body {
  padding: 25px 30px;
}

#modal-body h3 {
  color: #4586de;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  margin: 30px 0;
}

.form-group {
  width: 28px 0;
  margin: 20px 0;
  margin-left: 12.5%;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.form-group input, textarea {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

input[type='submit'] {
  font-size: 20px;
  margin-bottom: 30px;
  width: 75%;
  margin-left: 12.5%;
  transition: background 0.3s;

}

input[type='submit']:hover {
  background: #3e78c7;
}